@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Eina03-Light';
  src: url('/fonts/Eina03-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eina03-SemiBold';
  src: url('/fonts/Eina03-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Add global styles here */
