@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Eina03';
  src: url('/fonts/Eina03-Light.woff2') format('woff2'),
       url('/fonts/Eina03-Light.woff') format('woff'),
       url('/fonts/Eina03-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eina03';
  src: url('/fonts/Eina03-LightItalic.woff2') format('woff2'),
       url('/fonts/Eina03-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Eina03';
  src: url('/fonts/Eina03-Regular.woff2') format('woff2'),
       url('/fonts/Eina03-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eina03';
  src: url('/fonts/Eina03-RegularItalic.woff2') format('woff2'),
       url('/fonts/Eina03-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Eina03';
  src: url('/fonts/Eina03-SemiBold.woff2') format('woff2'),
       url('/fonts/Eina03-SemiBold.woff') format('woff'),
       url('/fonts/Eina03-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eina03';
  src: url('/fonts/Eina03-SemiboldItalic.woff2') format('woff2'),
       url('/fonts/Eina03-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Eina03';
  src: url('/fonts/Eina03-Bold.woff2') format('woff2'),
       url('/fonts/Eina03-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eina03';
  src: url('/fonts/Eina03-BoldItalic.woff2') format('woff2'),
       url('/fonts/Eina03-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@layer base {
  html,
  body {
    @apply bg-brand-900 text-white;
  }
}

/* Add global styles here */
